*{
  margin: 0;
  padding: 0;

}
html, body, #app, #app>div {
  height: 100%
}

body{
  background-color: #FDEFB2;
  font-family: 'Montserrat', sans-serif;
  
}.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.profile{
  position: fixed;
  top:0;
  left: 0
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  background-color: #351E10;
  position: absolute;
  width: 100%;
  color: #DDAA00;
  font-size: 20px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
 }
.App-link {
  color: #09d3ac;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}