*{
  margin: 0;
  padding: 0;

}
body{
  background-color: #DDAA00;
  font-family: 'Montserrat', sans-serif;
  
}.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.profile{
  position: fixed;
  top:0;
  left: 0
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  background-color: #351E10;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #DDAA00;
  font-size: 20px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
 }
.App-link {
  color: #09d3ac;
}
